<div class="product">
  <div class="actions">

  </div>
  <% if product.image_name.present? %>
      <p>

      </p>
  <% else %>

  <% end %>
  <h2>
    <%= product.name %>
  </h2>

  <p>
    <%= product.price %>
  </p>
</div>